.paging button {
  flex-grow: 0.1;
  flex-direction: column;
}
.paging button:not(:hover) {
  /* background-color: #f0f0f0; */
}

.paging div.center {
  display: flex;
  flex-grow: 0.8;
  user-select: none;
}

.paging div.center span {
  text-align: center;
  width: 100%;
}
