<app-searchfield  [thisEntity]="entityType" [(searchEntity)]="searchEntityType" [(pageSize)]="pageSize"
                  [(searchString)]="searchName" [(filterString)]="filter"/>
<app-paging [entityList]="this"/>

<div class="card my-3">
  <app-list-header [title]="title" [lastSearchPerformance]="lastSearchPerformance"></app-list-header>
  <table class="card-body small table table-bordered table-striped table-hover table-sm my-0">
    <thead class="thead-dark">
    <tr>
      <th class="text-right">#</th>
      <th>Name</th>
      <th>{{ Album.namePlural }}</th>
      <th>{{ Composer.namePlural }}</th>
      <th>{{ Artist.namePlural }}</th>
      <th>{{ Work.namePlural }}</th>
      <th>{{ Genre.namePlural }}</th>
      <th>Label</th>
      <th>Jahr</th>
      <th class="text-right">Länge</th>
      <th class="col-long">Pfad</th>
      <th>Änd.</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of entities">
      <td>{{ track.tracknumber }}</td>
      <td class="col-long">{{ track.name }}</td>
      <td class="col-long">
        <a (click)="navigateOtherEntityByThis(Album, track)" title="{{Album.namePlural}} für Track">
          {{ track.album?.name }}
        </a>
      </td>
      <td>
        <div *ngIf="track.composer">
          <a (click)="navigateOtherEntityByItself(Composer, track.composer)"
             title="Details für {{track.composer.name}}">
            {{ track.composer.name }}
          </a>
          <a (click)="navigateOtherEntityBy(Album, Composer, track.composer)"
             class="btn-link" title="{{ Album.namePlural}} für {{track.composer.name}}">
            [&nbsp;{{ Album.namePlural }}&nbsp;]
          </a>
        </div>
      </td>
      <td>
        <div *ngFor="let i of track.artists">
          <a (click)="navigateOtherEntityByItself(Artist, i)"
             title="Details für {{i.name}}">
            {{ i.name }}
          </a>
          <a (click)="navigateOtherEntityBy(Album, Artist, i)"
             class="btn-link"
             title="{{ Album.namePlural}} für {{i.name}}">
            [&nbsp;{{ Album.namePlural }}&nbsp;]
          </a>
        </div>
      </td>
      <td>
        <div *ngIf="track.work">
          <a (click)="navigateOtherEntityByItself(Work, track.work)"
             title="Details für {{track.work.name}}">
            {{ track.work.name }}
          </a>
          <a (click)="navigateOtherEntityBy(Album, Work, track.work)"
             class="btn-link"
             title="{{ Album.namePlural }} für {{ track.work.name }}">
            [&nbsp;{{ Album.namePlural }}&nbsp;]
          </a>
        </div>
      </td>
      <td>
        <div *ngFor="let g of track.genres">
          <a (click)="navigateOtherEntityByItself(Genre, g)"
             title="Details für {{g.name}}">
            {{ g.name }}
          </a>
          <a (click)="navigateOtherEntityBy(Album, Genre, g)"
             class="btn-link"
             title="{{ Album.namePlural}} für {{g.name}}">
            [&nbsp;{{ Album.namePlural }}&nbsp;]
          </a>
        </div>
      </td>
      <td>{{ track.publisher }}</td>
      <td>{{ track.publishedDate }}</td>
      <td class="text-right">{{ Track.getLength(track) }}</td>
      <td class="col-long">{{ track.path }}</td>
      <td>{{ Track.getLastModificationSince(track) }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="my-3">&nbsp;</div>
<app-paging class="card footer-absolute" [entityList]="this"/>
